:root {
    --bg-color: rgb(250, 250, 250);
    --blue: rgb(64, 109, 131);
}
/* general */
html {
    padding-top: 65px;
    scroll-padding-top: 65px;
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: var(--bg-color);
}
h1 {
    color:rgb(209, 134, 64);
}
h2 {
    color:rgb(209, 134, 64);
}
p {
    margin-right: 5vw;
}

.home {
    margin-top: 20vh;
}
.small_img {
    height: 5vh;
    margin-right: 10px;
    margin-left: 10px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: none;
}
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: var(--blue);
    color: rgb(230, 230, 220);
    font-size: 2vh;
    text-align: center;
    position: absolute;
    padding: .5vh;
  }

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* unused? */
.section {
    display: block;
    margin-right: 6%;
    margin-left: 6%;
}
.proj-section {
    display: block;
    margin-right: 6%;
    margin-left: 6%;
}
.proj-img {
    height: 15vh;
    margin-right: 10px;
    margin-left: 10px;
}

.vert_center {
    vertical-align: middle;
    width: 20vw;
}
.landing {
    /* text centered on screen */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


/* nav bar */
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(230, 230, 230);
    /* fix at top of screen */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
nav li {
    float: right;
}
nav li a {
    display: block;
    color:var(--blue);
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
}
li a:hover {
    background-color: rgb(220, 220, 220);
}



/* modal gallery */
.imgGallery {
    border-radius: 10px;
    cursor: pointer;
    height: auto;
    margin-top: auto;
    width: 21vw;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 15vh;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
}
.modalImg {
    margin: auto;
    display: block;
    height: 70vh;
    width: auto;
}
#caption {
    margin: auto;
    display: block;
    padding-top: 2vh;
    text-align: center;
    color:ivory;
}
.close {
    position: absolute;
    top: 15vh;
    right: 10vw;
    color:rgb(219, 219, 209);
    font-size: 40px;
    font-weight: bold;
}
.close:hover {
    cursor: pointer;
    color: grey;
}

/* (unused) bird images */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}
.column {
    flex: 20%;
    padding: 5px 5px;
}

.col img {
    margin-top: 5px;
    vertical-align: middle;
}
.grid-container {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}