html, body {
    margin:0;
    height: 100%;
    background-color: ivory;
}
/* h1 {
    font-family: 'Allerta Stencil';
    font-size: 30%;
} */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(209, 209, 209);
    /* fix at top of screen */
    position: sticky;
    top: 0;
    width: 100%;
}
li {
    float: right;
}
li a {
    display: block;
    color:mediumpurple;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    background-color:rgb(209, 209, 209);
}
li a:hover {
    background-color:lightslategray;
}
.landing {
    height: 100%;
    text-align: center;
    color:rgb(192, 147, 212);
    font-family: Monaco, "Lucida Console", monospace;
}
.aboutme {
    height: 100%;
    font-family: Monaco, "Lucida Console", monospace;
}