html {
    scroll-padding-top: 65px;
}
body {
    margin:0;
    background-color: ivory;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(231, 231, 231);
    /* fix at top of screen */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
nav li {
    float: right;
}
nav li a {
    display: block;
    color:rgb(197, 158, 214);
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
    background-color:rgb(230, 230, 220);
}
li a:hover {
    background-color: rgb(219, 219, 209);
}
/* .navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(230, 230, 220);
}
.navbar a {
    float: right;
    display: block;
    height: 8vh;
    padding-right: 2vw;
    color: rgb(197, 158, 214);
    text-align: center;
    text-decoration: none;
    font-family: Monaco, "Lucida Console", monospace;
}
.navbar a:hover {
    background: rgb(212, 212, 212);
} */

.section {
    height: 100vh;
    display: block;
    margin-right: 5%;
    margin-left: 5%;
}
.center_container {
    margin-top: 65px;
    height: 90vh;
    position: relative;
}
.landing {
    /* text centered on screen */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.aboutme {
    /* height: 100vh; */
    font-family: Monaco, "Lucida Console", monospace;
}
.proj {
    /* height: 100vh; */
}
h1 {
    font-family: Monaco, "Lucida Console", monospace;
    color:rgb(197, 158, 214);
}