html, body {
    margin:0;
    height: 100%;
    background-color: ivory;
}
/* h1 {
    font-family: 'Allerta Stencil';
    font-size: 30%;
} */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(231, 231, 231);
    /* fix at top of screen */
    position: fixed;
    top: 0;
    width: 100%;
}
li {
    float: right;
}
li a {
    display: block;
    color:rgb(197, 158, 214);
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    background-color:rgb(230, 230, 220);
}
li a:hover {
    background-color: rgb(219, 219, 209);
}
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(230, 230, 220);
}
.navbar a {
    float: right;
    display: block;
    padding: 14px 16px;
    color: rgb(197, 158, 214);
    text-align: center;
    text-decoration: none;
    font-family: Monaco, "Lucida Console", monospace;
}
.navbar a:hover {
    background: rgb(212, 212, 212);
}

.main {
    margin-top: 30px;
    margin-right: 5%;
}
.container {
    position: relative;
}
.landing {
    /* text centered on screen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; */

    /* max-width: 300px;
    margin: auto;
    text-align: center; */
}
.aboutme {
    height: 100%;
    font-family: Monaco, "Lucida Console", monospace;
}
h1 {
    font-family: Monaco, "Lucida Console", monospace;
    color:rgb(197, 158, 214);
}